* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background: white;
  font-family: Arial, sans-serif;
  color: black;
}

header {
  display: flex;
  align-items: center;
  padding: 2rem;
  background: #008cba;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.logo-text {
  display: flex;
  flex-direction: column; /* Stack text vertically */
}

.logo-text h1 {
  margin-bottom: 5px; /* Add spacing between h1 and h3 */
}

.logo-text h3 {
  margin-top: 0;
  font-size: 0.9rem; /* Adjust font size if needed */
  color: #e0e0e0; /* Optional: subtle color adjustment for h3 */
}


nav {
  margin-left: auto;
}

nav a {
  display: inline-flex;
  padding: 1rem 2rem;
  margin: 0.5rem 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 50, 100, 0.3);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 140, 186, 0.8);
  transition: transform 0.3s, box-shadow 0.3s;
}

nav a:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 50, 100, 0.5);
}

.about-header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f1f1f1;
}

.about-header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-content {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

.about-content h2 {
  color: #007bff;
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #343a40;
  color: white;
}